.modal {
  border: 4px solid black;
  position: absolute; /* Stay in place */
  margin: 0px;
  padding-top: 100px;
  z-index: 1; /* Sit on top */
  left: 200px;
  width: 70%;
  height: 90%;
  overflow: auto; /* Enable scroll if needed */
  background-color: white; /* Fallback color */
  display: none;

  &__container {
    margin: 1px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    &__button {
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      &:hover {
        cursor: pointer;
      }
    }

    &__title {
      margin: 0px;
    }

    &__subtitle {
      padding: 0px;
      margin-top: 0px;
    }

    &__desc {
      margin: 0px;
    }
  }
}
