.home {
  background-image: url("../image/book.jfif");
  object-fit: fill;
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding-top: 2%;
  text-align: center;
  margin-bottom: 5%;
  z-index: 1;
  position: relative;
}
.home__heading {
  font-size: 30px;
  color: white;
  font-family: "Libre Caslon Text", serif;
  font-weight: 700;
}
.home__search {
  position: relative;
  margin: 0 auto;
  padding: 10px;
  width: 50%;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.1);
}
.home__button {
  position: relative;
  background-color: antiquewhite;
  height: 34px;
  width: 200px;
  margin-top: 20px;
  margin-left: 500px;
  font-weight: bold;
}

.mainContainer {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 5px rgba(255, 192, 203, 0.5);
  transition: 0.5s;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.mainContainer__bookContainer {
  border: 3px solid brown;
  font-size: 0.7rem;
  margin: 1px;
  border-radius: 16px;
  height: 400px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.mainContainer__bookContainer__img {
  margin: 0px;
}
.mainContainer__bookContainer__title {
  margin: 0px;
}
.mainContainer__bookContainer__auth {
  margin: 0px;
}

.modal {
  border: 4px solid black;
  position: absolute; /* Stay in place */
  margin: 0px;
  padding-top: 100px;
  z-index: 1; /* Sit on top */
  left: 200px;
  width: 70%;
  height: 90%;
  overflow: visible; /* Enable scroll if needed */
  background-color: white; /* Fallback color */
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__container {
  margin: 1px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: visible;
}
.modal__container__button {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
.modal__container__button:hover {
  cursor: pointer;
}
.modal__container__title {
  margin: 0px;
}
.modal__container__subtitle {
  padding: 0px;
  margin-top: 0px;
}
.modal__container__desc {
  margin: 0px;
}
